*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Orbitron", Arial, sans-serif;
  background-image: url("../src/assets/background.jpg");
  background-repeat: no-repeat;
  background-size: 100vw;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
