.wrapper {
  font-family: "Orbitron", Arial, sans-serif;
  font-weight: 700;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-weight: 900;
  letter-spacing: 0.8rem;
  font-size: 30px;
  color: #fff;
  line-height: 1;
  margin: 6px 0 6px 10px;
  text-align: center;
}
